body {
    background-image: url("/assets/conductor.jpg")
    background-repeat: no-repeat;
    background-size: auto; 
    margin: auto;
    max-width: 60em;
    font-family: "Helvetica", "Arial", sans-serif;
    background: white;
}
nav li {
    display: inline-block;
    padding: .7em 1em .5em;
    background: white;
    border-radius: .5em;
    margin: .2em;
}
header {
    background: sandybrown;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}
