.header {
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    text-align: center;
    margin-top: .5em;

}

body {
    margin: auto;
    max-width: 60em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-image: url("/static/conductor.jpg");
    background-repeat: no-repeat;
    background-size: auto; 
}

nav li {
    display: inline-block;
    padding: .5em;
    border-radius: .1em;
}

nav li a {
    text-decoration: none;
    color: white;
    background-color: purple;
    display: inline-block;
    padding: .1em;
    border-radius: .1em;
    margin: auto;
}

nav li:hover {
    background-color: purple;
}

nav ul {
    margin: auto;
    padding: 0;
    text-align: center;
}

form {
    padding: .5em;
    background: orange;
    border-radius: .1em;
    margin-bottom: 2em;;
    margin-top: 2em;
    margin: 0 auto; 
    max-width:250px;
    text-align: center;
}
