<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
	<h1>Listasovellus</h1>
  </div>
    <nav>
      <ul>
      {% if session.username %}
      <p>Käyttäjä: {{ session.username }}</p>
      <li><a href="/logout">Vaihda käyttäjää</a></li>
      <li><a href="/new_list_name">Luo uusi lista</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    {% else %}
      <li><a href="/login">Kirjaudu sisään</a></li>
      <li><a href="/register">Luo uusi tunnus</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    </ul>
    {% endif %}
  </nav>

  <p>Tietokantasovellus soittolistoille. Tietokanta muodostuu soittolistojen tiedoista ja käyttäjien kommenteista.</p>

  <p>- käyttäjä voi luoda itselleen tunnuksen</p>
  <p>- käyttäjä voi kirjautua sisään ja ulos</p>
  <p>- käyttäjä voi selailla soittolistoja</p>
  <p>- käyttäjä voi katsoa soittolistoihin tallennetuista muuttujista muodostettuja tilastoja</p>
  <p>- käyttäjä voi lisätä tietokantaan soittolistoja</p>
  <p>- käyttäjä voi kommentoida soittolistoja</p>
  <p>- peruskäyttäjä voi poistaa itse lisäämiään soittolistoja ja kommentteja</p>
  <p>- ylläpitäjä voi poistaa kaikkien soittolistoja ja kommentteja</p>
  <p>- piilotettuja soittolistoja ja viestejä ei voi palauttaa sovelluksen kautta</p>

</body>
