{% if session.username %}
<p>Käyttäjä: {{ session.username }}</p>
<a href="/logout">Vaihda käyttäjää</a>
<hr>
<a href="/new_list_name">Luo uusi lista</a>
<hr>
<a href="/statistics">Katso kooste</a>
{% else %}
<form action="/login" method="POST">
<p>Kirjaudu sisään:<br>
<p>Käyttäjä:<br>
<input type="text" name="username"></p>
<p>Salasana::<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<form action="/register" method="POST">
<p>Rekisteröidy:<br>
<p>Uusi käyttäjä:<br>
<input type="text" name="new_username"></p>
<p>Salasana::<br>
<input type="password" name="new_password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
