<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
        <h1>Listasovellus</h1>
  </div>
    <nav>
      <ul>
      {% if session.username %}
      <p>Käyttäjä: {{ session.username }}</p>
      <li><a href="/logout">Vaihda käyttäjää</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    {% else %}
      <li><a href="/login">Kirjaudu sisään</a></li>
      <li><a href="/register">Luo uusi tunnus</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    </ul>
    {% endif %}
  </nav>


<hr>
<form action="/register_new_list_name" method="POST">
<p>Listan nimi:<br>
<input type="text" name="list_name"></p>
<input type="submit" value="Lisää nimi">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</body>

