!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
        <h1>Listasovellus</h1>
  </div>
    <nav>
      <ul>
      {% if session.username %}
      <p>Käyttäjä: {{ session.username }}</p>
      <li><a href="/logout">Vaihda käyttäjää</a></li>
      <li><a href="/new_list_name">Luo uusi lista</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    {% else %}
      <li><a href="/login">Kirjaudu sisään</a></li>
      <li><a href="/register">Luo uusi tunnus</a></li>
      <li><a href="/statistics">Katso kooste</a></li>
    </ul>
    {% endif %}
  </nav>
</body>
<body>
<hr>
<p>Listan nimi: {{ session.list_name }}</p>
<li><a href="/logout_list_name">Peru listan luonti</a></li>
<hr>
<form action="/insert_list_row" method="POST">
Kirjoita esittäjä:<br>
<textarea name="artist" rows="1" cols="40"></textarea><br>
esitys:<br>
<textarea name="song" rows="1" cols="40"></textarea><br>
tyylilaji:<br>
<textarea name="genre" rows="1" cols="40"></textarea><br>
ja vuosi:<br>
<textarea name="year" rows="1" cols="40"></textarea>
<br>
<input type="submit" value="Lisaä rivi">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<li><a href="/">Lista valmis!</a></li>
<hr>
Listan esitysten määrä: {{ count }}
<hr>
{% for row in list %}
{{ row [0] }}, {{ row [1] }}, {{row [2]}}, {{ row [3] }}, {{ row [4] }}, {{ row [5] }}
<hr>
{% endfor %}
</body>
